<!DOCTYPE html><html lang="en" class="no-js"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>BreezyCV - Resume / CV / vCard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="BreezyCV - Resume / CV / vCard Template">
    <meta name="keywords" content="vcard, resposnive, retina, jquery, css3, bootstrap, Material CV, portfolio">
    <meta name="author" content="lmpixels">
    <link rel="shortcut icon" href="HsoOndI47Oj2.ico">


    <link rel="stylesheet" href="css/AE4ATgIZ88hX.css" type="text/css">
    <link rel="stylesheet" href="css/TVrV2XTPFOiz.css" type="text/css">
    <link rel="stylesheet" href="css/kC5QveYLceMq.css" type="text/css">
    <link rel="stylesheet" href="css/kUkFyvsrZVeG.css" type="text/css">
    <link rel="stylesheet" href="css/t9kKllRFwzT1.css" type="text/css">
    <link rel="stylesheet" href="css/dW2Xoi30LwFV.css" type="text/css">
    <link rel="stylesheet" href="css/3vFriXMs7EWK.css" type="text/css">

    <script src="js/eotWn9YNustB.js"></script>
  </head>

  <body>
    <!-- Animated Background -->
    <div class="lm-animated-bg" style="background-image: url(images/gI54eC5N3Zm5.png);"></div>
    <!-- /Animated Background -->

    <!-- Loading animation -->
    <div class="preloader">
      <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
      </div>
    </div>
    <!-- /Loading animation -->

    <div class="page">
      <div class="page-content">

          <header id="site_header" class="header mobile-menu-hide">
            <div class="header-content">
              <div class="header-photo">
                <img src="https://cdn.discordapp.com/avatars/883389450388901949/c76b167574f808d0a05d42ae668a9162.png?size=1024" alt="DEAD_CODE">
              </div>
              <div class="header-titles">
                <h2>DEAD_CODE</h2>
                <h4>Full Stack Devoloper</h4>
              </div>
            </div>

            <ul class="main-menu">
              <li class="active">
                <a href="#home" class="nav-anim">
                  <span class="menu-icon lnr lnr-home"></span>
                  <span class="link-text">Home</span>
                </a>
              </li>
              <li>
                <a href="#about-me" class="nav-anim">
                  <span class="menu-icon lnr lnr-user"></span>
                  <span class="link-text">About Me</span>
                </a>
              </li>
              <li>
                <a href="#portfolio" class="nav-anim">
                  <span class="menu-icon lnr lnr-briefcase"></span>
                  <span class="link-text">Portfolio</span>
                </a>
              </li>
            </ul>

            <div class="social-links">
              <style>
                .ww {
                  width: 39px;
                  height: inherit;
                }
              </style>
              <ul>
                <li><a href="https://discord.gg/Ns4g3Hm6qf" target="_blank"><ion-icon class="ww" name="logo-discord"></ion-icon></i></a></li>
              </ul>
            </div>

            <div class="header-buttons">
              <a href="https://discord.gg/Ns4g3Hm6qf" target="_blank" class="btn btn-primary">support</a>
            </div>

            <div class="copyrights">© 2022 All rights reserved.</div>
          </header>

          <!-- Mobile Navigation -->
          <div class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <!-- End Mobile Navigation -->

          <!-- Arrows Nav -->
          <div class="lmpixels-arrows-nav">
            <div class="lmpixels-arrow-right"><i class="lnr lnr-chevron-right"></i></div>
            <div class="lmpixels-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
          </div>
          <!-- End Arrows Nav -->

          <div class="content-area">
            <div class="animated-sections">
              <!-- Home Subpage -->
              <section data-id="home" class="animated-section start-page">
                <div class="section-content vcentered">

                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="title-block">
                          <h2>DEAD_CODE</h2>
                          <div class="owl-carousel text-rotation">                                    
                            <div class="item">
                              <div class="sp-subtitle">Full Stack Devoloper</div>
                            </div>
                            
                            <div class="item">
                              <div class="sp-subtitle">Frontend-developer</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
              </section>
              <!-- End of Home Subpage -->

              <!-- About Me Subpage -->
              <section data-id="about-me" class="animated-section">
                <div class="page-title">
                  <h2>About <span>Me</span></h2>
                </div>

                <div class="section-content">
                  <!-- Personal Information -->
                  <div class="row">
                    <div class="col-xs-12 col-sm-7">
                      <p>Proin volutpat mauris and pellentesque pharetra. It is important to pay attention to your homework, even if you hate it. Everyone from just, the mouth as mi in, the sauce ends the pain. Some of the pain of the life of the hendrerit, the need for investment. Maecenas and before that the sauce itself was said and or the mass. In order to finance the pain, or to be followed by God.</p>
                    </div>

                    <div class="col-xs-12 col-sm-5">
                      <div class="info-list">
                        <ul>
                          <li>
                            <span class="title">Age</span>
                            <span class="value">16</span>
                          </li>

                          <li>
                            <span class="title">Residence</span>
                            <span class="value">Egypt</span>
                          </li>

                          <li>
                            <span class="title">e-mail</span>
                            <span class="value">cape31x@gmail.com</span>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- End of Personal Information -->

                  <div class="white-space-50"></div>

                  <!-- Services -->
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div class="block-title">
                        <h3>What <span>I Do</span></h3>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <div class="col-inner">
                        <div class="info-list-w-icon">
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-store"></i>
                            </div>
                            <div class="ci-text">
                              <h4>Ecommerce</h4>
                              <p>Childhood era does not leave my mind but does not leave my mind and imagination
No, I did not yearn for innocence, but I did not remember my strutting and my evidence
I wouldn't ask for a profit from the spoils of money and profitable money
But I saw science as a shining, shining light in a favorite world
I tightened his traveling flame with a desire to quote, so I tightened my travels
So, I was like a butterfly, dazzled by what I had seen of prestige and majesty
I accepted faith and sincere love in the desired and programming was my field</p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-laptop-phone"></i>
                            </div><div class="ci-text">
                              <h4>Web Design</h4>
                              <p>Childhood era does not leave my mind but does not leave my mind and imagination
No, I did not yearn for innocence, but I did not remember my strutting and my evidence
I wouldn't ask for a profit from the spoils of money and profitable money
But I saw science as a shining, shining light in a favorite world
I tightened his traveling flame with a desire to quote, so I tightened my travels
So, I was like a butterfly, dazzled by what I had seen of prestige and majesty
I accepted faith and sincere love in the desired and programming was my field</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                      <div class="col-inner">
                        <div class="info-list-w-icon">
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-pencil"></i>
                            </div>
                            <div class="ci-text">
                              <h4>Copywriting</h4>
                              <p>Childhood era does not leave my mind but does not leave my mind and imagination
                                No, I did not yearn for innocence, but I did not remember my strutting and my evidence
                                I wouldn't ask for a profit from the spoils of money and profitable money
                                But I saw science as a shining, shining light in a favorite world
                                I tightened his traveling flame with a desire to quote, so I tightened my travels
                                So, I was like a butterfly, dazzled by what I had seen of prestige and majesty
                                I accepted faith and sincere love in the desired and programming was my field</p>
                            </div>
                          </div>
                          <div class="info-block-w-icon">
                            <div class="ci-icon">
                              <i class="lnr lnr-flag"></i>
                            </div><div class="ci-text">
                              <h4>Management</h4>
                              <p>Childhood era does not leave my mind but does not leave my mind and imagination
No, I did not yearn for innocence, but I did not remember my strutting and my evidence
I wouldn't ask for a profit from the spoils of money and profitable money
But I saw science as a shining, shining light in a favorite world
I tightened his traveling flame with a desire to quote, so I tightened my travels
So, I was like a butterfly, dazzled by what I had seen of prestige and majesty
I accepted faith and sincere love in the desired and programming was my field</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End of Services -->

                  <div class="white-space-30"></div>

                  <!-- Testimonials -->
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div class="block-title">
                        <h3>Testimonials</h3>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div class="testimonials owl-carousel">
                        <!-- Testimonial 1 -->
                        <div class="testimonial">
                          <div class="img">
                            <img src="https://cdn.discordapp.com/avatars/982271127445446686/1100c75cd332cd71dfb5c4049ba08291.png?size=1024" alt="DEAD_CODE">
                          </div>
                          <div class="text">
                            <p>A customer sells game accounts and he has a famous business in the name of Raya, and I helped create his site.</p>
                          </div>

                          <div class="author-info">
                            <h4 class="author">Readh X</h4>
                            <h5 class="company">Online Shop</h5>
                            <div class="icon">
                              <i class="fas fa-quote-right"></i>
                            </div>
                          </div>
                        </div>
                        <br>
                        <!-- End of Testimonial 1 -->
                      </div>
                    </div>
                  </div>
                  <!-- End of Testimonials -->

                  <!-- Pricing -->
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">

                      <div class="block-title">
                        <h3>Pricing</h3>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class=" col-xs-12 col-sm-12 ">
                      <div class="fw-pricing clearfix row">
                        
                        <div class="fw-package-wrap col-md-6 ">
                          <div class="fw-package">
                            <div class="fw-heading-row">
                              <span>Silver</span>
                            </div>
                            
                            <div class="fw-pricing-row">
                              <span>$64</span>
                              <small>per month</small>
                            </div>
                            
                            <div class="fw-button-row">
                              <a href="#" target="_self" class="btn btn-secondary">Free Trial</a>
                            </div>

                            <div class="fw-default-row">Ease of use</div>
                            <div class="fw-default-row">Two complete projects of your choice and on demand</div>
                            <div class="fw-default-row">Reply to it</div>

                          </div>
                        </div>
     
                        <div class="fw-package-wrap col-md-6 highlight-col ">
                          <div class="fw-package">
                            <div class="fw-heading-row">
                              <span>Gold</span>
                            </div>
                            
                            <div class="fw-pricing-row">
                              <span>$128</span>
                              <small>per month</small>
                            </div>

                            <div class="fw-button-row">
                              <a href="#" target="_self" class="btn btn-primary">Free Trial</a>
                            </div>
                            
                            <div class="fw-default-row">Two complete projects of your choice and on demand</div>
                            <div class="fw-default-row">Ease of use</div>
                            <div class="fw-default-row">Edit at any time</div>
                            <div class="fw-default-row">Reply to it</div>
                            <div class="fw-default-row">24 hour support</div>
                            <div class="fw-default-row"></div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <!-- End of Pricing -->

                  <div class="white-space-50"></div>

                  <!-- Fun Facts -->
                  <div class="row">
                    <div class="col-xs-12 col-sm-12">

                      <div class="block-title">
                        <h3>Fun <span>Facts</span></h3>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-4">
                      <div class="fun-fact gray-default">
                        <i class="lnr lnr-heart"></i>
                        <h4>Happy Clients</h4>
                        <span class="fun-fact-block-value">16</span>
                        <span class="fun-fact-block-text"></span>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                      <div class="fun-fact gray-default">
                        <i class="lnr lnr-clock"></i>
                        <h4>Working Hours</h4>
                        <span class="fun-fact-block-value">780</span>
                        <span class="fun-fact-block-text"></span>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 ">
                      <div class="fun-fact gray-default">
                        <i class="lnr lnr-star"></i>
                        <h4>Awards Won</h4>
                        <span class="fun-fact-block-value">15</span>
                        <span class="fun-fact-block-text"></span>
                      </div>
                    </div>
                  </div>
                  <!-- End of Fun Facts -->

                </div>
              </section>
              <!-- End of About Me Subpage -->

              <!-- Portfolio Subpage -->
              <section data-id="portfolio" class="animated-section">
                <div class="page-title">
                  <h2>Portfolio</h2>
                </div>

                <div class="section-content">

                  <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <!-- Portfolio Content -->
                      <div class="portfolio-content">

                        <!-- Portfolio Grid -->
                        <div class="portfolio-grid three-columns">

                          <figure class="item lbimage" data-groups="[" category_all",="" "category_mockups"]"="">
                            <div class="portfolio-item-img">
                              <img src="https://cdn.discordapp.com/attachments/1006216874683535440/1028959331200274442/Avatar_Link-1.png" alt="Ria-online-shop" title="">
                              <a title="Ria flag" href="https://ria-store.ml/" target="_blank"></a>
                            </div>

                            <i class="far fa-image"></i>
                            <h4 class="name">Ria-online-shop</h4>
                            <span class="category">Shopping</span>
                          </figure>

                          <figure class="item lbimage" data-groups="[" category_all",="" "category_mockups"]"="">
                            <div class="portfolio-item-img">
                              <img src="https://w7.pngwing.com/pngs/529/418/png-transparent-computer-icons-internet-bot-eyes-miscellaneous-people-sticker-thumbnail.png" alt="Mockup Design 1" title="">
                              <a title="Bot" href=" "></a>
                            </div>

                            <i class="far fa-image"></i>
                            <h4 class="name">Discord_Shopping_bots</h4>
                            <span class="category">Shopping</span>
                          </figure>

                        </div>
                      </div>
                      <!-- End of Portfolio Content -->
                    </div>
                  </div>
                </div>
              </section>

            </div>
          </div>

      </div>
    </div>

    <script data-cfasync="false" src="js/6U7VabfmXhJf.js"></script><script src="js/ku7GsCudsoZT.js"></script>
    <script src="js/eotWn9YNustB.js"></script>
    <script src="js/T4V4YP6S5Xj9.js"></script>

    <script src="js/rj8gCoygf9Gp.js"></script>
    <script src="js/JrTihlJzVUNA.js"></script>

    <script src="js/VfzdTUZbFgnR.js"></script>
    <script src="js/bXyVhSkqrxr6.js"></script>
    <script src="js/CKG5IC3VA5nI.js"></script>
    <script src="js/o7G8qRxfRmaX.js"></script>
    <script src="js/gWEr4NDljeLp.js"></script>

    <script src="js/XQ4Krzy1OcDm.js"></script>
    <script src="js/3EZHR1ESHZ2U.js"></script>
  <script defer="" src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" data-cf-beacon="{" rayid":"755eccb699c2b74f","version":"2022.8.1","r":1,"token":"94b99c0576dc45bf9d669fb5e9256829","si":100}"="" crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body></html>